.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/workspace.xml
lib/generated/i18n.dart
.idea/workspace.xml
